    <footer class="footer footer__margin">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 footer__mobile--margin-bottom">
            <div class="row">
              <div class="col-lg-12 text-center">
                <a href="{{ site.public-url }}" class="footer-link"><h5 class="typography__footer-heading">{{ site.public-url | replace: "https://", "" | replace: "http://", "" }}</h5></a>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="text-center">
                  <span>
                    <a href="http://www.facebook.com/KankakeeCommunityCollege/" class="footer-social-links" target="_blank" rel="noopener">
                      <img
                        data-src="{{ page.baseurl }}assets/img/facebook.svg"
                        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
                        class="img-fluid footer-icons"
                        width="50px"
                        height="50px"
                        alt="Facebook">
                    </a>
                  </span>
                  <span>
                    <a href="http://twitter.com/KCCedu" class="footer-social-links" target="_blank" rel="noopener">
                      <img
                        data-src="{{ page.baseurl }}assets/img/twitter.svg"
                        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
                        class="img-fluid footer-icons"
                        width="50px"
                        height="50px"
                        alt="Twitter">
                    </a>
                  </span>
                  <span>
                    <a href="http://www.instagram.com/kccedu/" class="footer-social-links" target="_blank" rel="noopener">
                      <img
                        data-src="{{ page.baseurl }}assets/img/instagram.svg"
                        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
                        class="img-fluid footer-icons"
                        width="50px"
                        height="50px"
                        alt="Instagram">
                    </a>
                  </span>
                  <span>
                    <a href="http://www.youtube.com/user/KankakeeCommCollege" class="footer-social-links" target="_blank" rel="noopener">
                      <img
                        data-src="{{ page.baseurl }}assets/img/youtube.svg"
                        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
                        class="img-fluid footer-icons"
                        width="50px"
                        height="50px"
                        alt="Youtube">
                    </a>
                  </span>
                  <span>
                    <a href="http://www.pinterest.com/kccedu/" class="footer-social-links" target="_blank" rel="noopener">
                      <img
                        data-src="{{ page.baseurl }}assets/img/pinterest.svg"
                        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
                        class="img-fluid footer-icons"
                        width="50px"
                        height="50px"
                        alt="Pinterest">
                    </a>
                  </span>
                  <span>
                    <a href="http://www.linkedin.com/company/kankakee-community-college" class="footer-social-links" target="_blank" rel="noopener">
                      <img
                        data-src="{{ page.baseurl }}assets/img/linkedin.svg"
                        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
                        class="img-fluid footer-icons"
                        width="50px"
                        height="50px"
                        alt="Linkedin">
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <a href="http://www.kcc.edu" target="_blank" rel="noopener" aria-label="Kankakee Community College">
              <img
                data-src="{{ page.baseurl }}assets/img/kcc-logo-text.svg"
                width="406.5px"
                height="28px"
                src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
                class="img-fluid"
                alt="Kankakee Community College">
            </a>
            <p>100 College Drive Kankakee, IL 60901 <br>
            <a class="links__darker-link" href="tel:18158028100">815-802-8100</a> <br>
            © <span id="currentYear">2018</span> Kankakee Community College</p>
          </div>
        </div>
      </div>
    </footer>