// Positioning Styles
// ==========================================
.positioning__iframe-wrapper {
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.positioning__iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.positioning__accordian--padding {
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (min-width: 992px) {
  .positioning__accordian--padding {
    margin-top: 60px;
  }
}

.positioning__accordian-marg {
  margin-top: 75px;
}

.positioning__card--spacing {
  margin-bottom: 40px;
}

.positioning__first-section--marg {
  margin-top: 15px;
  background-color: $color-blue-light;
  padding-bottom: 25px;
  padding-top: 25px;
}

@media screen and (min-width: 1200px) {
  .positioning__first-section--marg {
    margin-top: 15px;
  }
}

.positioning__section--marg {
  margin-top: 35px;
}

@media screen and (min-width: 1200px) {
  .positioning__section--marg {
    margin-top: 65px;
  }
}

.positioning__row--pad {
  margin-top: 25px;
}

.positioning__check-svg {
  margin-top: -60px;
  width: 80px;
}

.positioning__blue-section {
  background-color: $color-blue-light;
  padding-bottom: 25px;
  padding-top: 25px;
  
}

.position__offset-core-nav {
  margin-top: 99px;
}

.position__offset-core-nav.position__campus-alerts--open {
  margin-top: 109px;
}

@media screen and (min-width: 992px) {
  .position__offset-core-nav {
    margin-top: 80px;
  }
  .position__offset-core-nav.position__campus-alerts--open {
    margin-top: 93px;
  }
}

.position__offset-alert {
  margin-top: 0;
  padding-top: 125px;
  height: 1px;
  &--visible {
    height: auto;
  }
}

@media screen and (min-width: 400px) {
  .position__offset-alert {
    padding-top: 135px;
  }
}

@media screen and (min-width: 576px) {
  .position__offset-alert {
      padding-top: 140px;
  }
}

@media screen and (min-width: 768px) {
  .position__offset-alert {
      padding-top: 145px;
  }
}

@media screen and (min-width: 992px) {
  .position__offset-alert {
      padding-top: 150px;
  }
}

.position__offset-alert.position__offset-alert-core {
  margin-top: 0;
  padding-top: 115px;
}

@media screen and (min-width: 992px) {
  .position__offset-alert.position__offset-alert-core {
    padding-top: 110px;
  }
}
